# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web-app/node_modules
/web-app/.pnp
/web-app/.pnp.js
/web-app/.yarn/install-state.gz

# testing
/web-app/coverage

# next.js
/web-app/.next/
/web-app/out/

/web-app/.output

# production
/web-app/build

# misc
/web-app/.DS_Store
/web-app/*.pem

# debug
/web-app/npm-debug.log*
/web-app/yarn-debug.log*
/web-app/yarn-error.log*

# local env files
/web-app/.env*.local

# vercel
/web-app/.vercel

# typescript
/web-app/*.tsbuildinfo
/web-app/next-env.d.ts
